<h1>Juego del amigo invisible</h1>
<h3>Bienvenido!</h3>
<h4 *ngIf="contactoSeleccionado">Has seleccioando a: {{contactoSeleccionado.name.first}}</h4>

<ng-container *ngIf="contactoSeleccionado; else noSeleccionado">
  <h4>Amigo invisible: {{contactoSeleccionado.name.first}}</h4>
</ng-container>
<ng-template #noSeleccionado>
  <div>
    <p>Selecciona a tu amigo invisible</p>
  </div>
</ng-template>

<button type="button" mat-raised-button color="primary" (click)="navegarAContacts() ">Ver contactos</button>

<div>
  <p>Filtros:</p>
  <a routerLink="['/dashboard/contacts']" [queryParams]="{sexo: 'female'}">Amigas | </a>
  <a routerLink="['/dashboard/contacts']" [queryParams]="{sexo: 'male'}">| Amigos</a>
</div>
